body{
    margin:0%;
    padding: 25px;
    background-color: brown;
}
.slide-container{
    position: relative;
    width: 100%;
}
.slide img{
    width: 100%;
}
 .slide{
     display: none;
 }
.arrow{
    cursor: pointer;
    position: absolute;
    top: 40%;
    color: black;
    padding: 8px 19px;
    border-radius: 50%;
    background-color: rgba(255, 228, 196, 0.5);
    font-size: 25px;
    font-weight: bold;
}
.prev{
    left: 10px;
}
.next{
    right: 10px;
}
.caption{
    color:white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 15px 0;
}